<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
</head>
<body>
<h1> Home Page</h1>
<!-- calling template-->

{{> header}}
<p>This is About page {{year}}</p>

<p>{{screamIt welcomeMessage}}</p>
<!-- calling template-->
{{> footer}}
</body>
</html>
