<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
</head>
<body>
<h1> Maintenance Page</h1>
<!-- calling template-->

{{> header}}
<p>This is Maintenance page {{year}}</p>

<!-- calling template-->
{{> footer}}
</body>
</html>
