<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
</head>
<body>
<h1> About Page</h1>
<!-- calling template-->
{{> header}}
<p>This is my porfolio page @{{year}}</p>

<!-- calling template-->
{{> footer}}
</body>
</html>
